/* Swup transitions */

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

#fragment-ministries.is-changing {
  transition: opacity 250ms;
}
#fragment-ministries.is-animating {
  opacity: 0;
}

#fragment-updates.is-changing {
  transition: opacity 250ms;
}
#fragment-updates.is-animating {
  opacity: 0;
}

#fragment-leadership.is-changing {
  transition: 350ms ease-in-out;
}

/* #fragment-leadership.is-animating {
} */

#fragment-leadership.is-changing .profile {
  transition: transform 350ms cubic-bezier(.01,1,.5,1);
}

#fragment-leadership.is-animating .profile {
  transform: translateX(100%);
}

#fragment-leadership.is-changing .profile__dim {
  transition: background-color 250ms;
}

#fragment-leadership.is-animating .profile__dim {
  background-color: rgba(28, 28, 28, 0);
}



/* Minstry nav arrow animation */

.ministry__arrow {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.ministry__arrow.hidden {
  opacity: 0;
  visibility: hidden;
}


/* Expanding updates card */

.eventcard__list {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

/* Set live banner to 0 height on livestream page */

.nav {
  transition: transform 250ms ease;
}

.is--livepage {
  opacity: 0;
  margin-top: -40px;
}



* {
  -webkit-tap-highlight-color: transparent;
}



/* Ministry slideshow animation keyframes */

.slideshow {
  will-change: transform; /* Improve performance */
  animation: slideshowAnimation 40s linear infinite;
}

@keyframes slideshowAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}




/* Other stuff */

.scroll--disabled {
  overflow: hidden;
}

.mobile__subpage::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/*fullcalendar update link style*/

.btn-view-details {
  display: inline-block;
  color: rgb(163, 163, 163) !important;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-view-details:hover {
  color: #313131; /* Darker shade on hover */
}

/* Navigation CSS transitions */

.container__blur.is--main {
  transition: opacity 0.2s ease;
}


/* Accordion component animation classes */

.accordion__content {
  transition: height 0.3s ease;
}


/* Calendar CSS Customization */

:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #000000;
  --fc-button-bg-color: #f0f0f0;
  --fc-button-border-color: #e0e0e0;
  --fc-button-hover-bg-color: #F9D26D;
  --fc-button-hover-border-color: #F9D26D;
  --fc-button-active-bg-color: #F4C449;
  --fc-button-active-border-color: #F4C449;

  --fc-event-bg-color: #F4C449;
  --fc-event-border-color: #F4C449;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}


/* Mobile view adjustments */
@media (max-width: 800px) {
  .fc-header-toolbar {
    flex-wrap: wrap;
  }

  /* Align the title to the left */
  .fc-header-toolbar .fc-toolbar-title {
    text-align: left;
    width: 100%;
    order: 1;
    padding-bottom: 10px;
    /* Add some space below the title */
  }

  /* Align the left and right controls on the same line */
  .fc-header-toolbar .fc-toolbar-chunk {
    display: flex;
    align-items: flex-end;
    /* Align items to the bottom */
    width: 100%;
    /* Ensure chunks take full width in mobile view */
    justify-content: space-between;
    /* Distribute space between chunks */
  }

  /* Mobile-specific styling for left controls */
  .fc-header-toolbar .fc-toolbar-chunk:first-child {
    order: 2;
    /* Move controls below the title */
    justify-content: flex-start;
    align-items: flex-end;
  }

  /* Mobile-specific styling for right controls */
  .fc-header-toolbar .fc-toolbar-chunk:last-child {
    order: 3;
    /* Move controls below the title */
    justify-content: flex-end;
    margin-left: auto;
    /* Push to the far right */
    margin-top: -40px !important;
    align-items: flex-end;
  }

  .fc-header-toolbar .fc-button {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .fc-header-toolbar .fc-center h2 {
    font-size: 1.2em;
  }
}





