/* Swup transitions */

html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
  html.is-animating .transition-fade {
    opacity: 0;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

/* Other stuff */

  .scroll--disabled {
    overflow: hidden;
  }

  .mobile__subpage::-webkit-scrollbar {
    display: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}


